.side {
  border-right: solid 1px #c0c0c0;
}
.side-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-icon {
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 3vw;
  object-fit:cover;
	border-radius:50%;
}

.list-right {
  display: flex;
  list-style: none;
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
}

.login {
  padding: 5px, 10px;
  margin-right: 10px;
}

.sign-up {
  padding: 5px, 10px;
  margin-right: 5px;
}

.logout {
  padding: 5px, 10px;
  margin-right: 5px;
}

.side-main {
  height: calc(100vh - 10vh - 100px);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: flex;
}

.side-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0px;
}

.home {
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.home-icon {
  width: 35px;
  margin-right: 20px;
}

.circle {
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.circle-icon {
  width: 35px;
  margin-right: 20px;
}

.profile {
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 35px;
  margin-right: 20px;
}

.side-footer {
  height: 10vh;
}

.footer-user {
  font-family: 'Vollkorn', serif;
  font-size: 22px;
}