.side {
  border-right: solid 1px #c0c0c0;
}
.side-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-title {
  
}

.list-right {
  display: flex;
  list-style: none;
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
}

.login {
  padding: 5px, 10px;
  margin-right: 10px;
}

.sign-up {
  padding: 5px, 10px;
  margin-right: 5px;
}

.logout {
  padding: 5px, 10px;
  margin-right: 5px;
}

.side-main {
  height: calc(100vh - 10vh - 100px);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: flex;
}

.side-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0px;
}

.home {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 150px;
  border-radius: 50px;
}

.home:hover {
  background-color: rgb(244, 212, 153);
}

.home-icon {
  width: 35px;
  margin-right: 20px;
}

.circle {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 170px;
  border-radius: 50px;
}

.circle-icon {
  width: 35px;
  margin-right: 20px;
}

.circle:hover {
  background-color: rgb(244, 212, 153);
}


.profile {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 200px;
  border-radius: 50px;
}

.profile-icon {
  width: 35px;
  margin-right: 20px;
}

.profile:hover {
  background-color: rgb(244, 212, 153);
}


.side-footer {
  height: 10vh;
}

.footer-user {
  font-family: 'Vollkorn', serif;
  font-size: 22px;
}