.side {
}
.side-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-title {
  font-family: 'Kaushan Script', cursive;
}

.list-right {
  display: flex;
  list-style: none;
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
}

.logout {
  padding: 5px, 10px;
  margin-right: 5px;
}

.side-main {
  height: calc(100vh - 10vh - 100px);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: flex;
}

.side-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0px;
}

.home {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 150px;
  border-radius: 50px;
}

.home:hover {
  background-color: rgb(255, 244, 227);
  color: #f39c12;;
}

.side-icon {
  font-size: 30px;
}

.side-icon-area {
  margin-right: 15px;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 170px;
  border-radius: 50px;
}

.circle:hover {
  background-color: rgb(255, 244, 227);
  color: #f39c12;;
}


.profile {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 210px;
  border-radius: 50px;
}

.profile:hover {
  background-color: rgb(255, 244, 227);
  color: #f39c12;;
}

.side-search {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 130px;
  border-radius: 50px;
}

.side-search:hover {
  background-color: rgb(255, 244, 227);
  color: #f39c12;;
}


.side-footer {
  height: 10vh;
}

.footer-user {
  font-size: 22px;
  font-weight: bold;
}

.side-group-icon {
  object-fit: cover;
  height: 60px;
  width: 60px;
	border-radius:50%;
  border: solid 1px #d6d3d3;
}

.current-page {
  color: #f39c12;
}