<div class='like-unlike'>
  <% unless post.like_user(current_user.id).blank? %>
    <div class="unlike">
      <%= link_to post_like_path(post_id: post.id, id: post.likes[0].id), method: :delete, remote: true do %>
        <div class='like-btn-area'>
          <i class="fas fa-heart unlike-btn"></i>
        </div>
      <% end %>
      <% if current_user.id == post.user_id %>
        <span><%= post.likes.count %></span>
      <% end %>
    </div>
  <% else %>
    <div class="like">
      <%= link_to post_likes_path(post.id), method: :post, remote: true do %>
        <div class='unlike-btn-area'>
          <i class="far fa-heart like-btn"></i>
        </div>
      <% end %>
      <% if current_user.id == post.user_id %>
        <span><%= post.likes.count %></span>
      <% end %>
    </div>
  <% end %>
</div>