<div class="wrapper">
  <div class='side-bar'>
    <%= render "shared/side_bar" %>
  </div>
  <div class='group-page'>
    <div class="group-new">
      <%= link_to 'グループ新規作成', new_group_path %>
    </div>
  </div>
  <div class='left-bar'>
    <%= render "shared/left_bar" %>
  <div>
</div>