<div class="wrapper">
  <div class='side-bar'>
    <%= render "shared/side_bar" %>
  </div>

  <div class='my-page'>
    <div class='my-page-header'>
      <%= @user.name %>
    </div>
    <div class='my-posts-list'>
      <%= render partial: "posts/post" %>
    </div>
  </div>

  <div class='left-bar'>
    <%= render "shared/left_bar" %>
  <div>
</div>
