.search-header {
  height: 117px;
  border-bottom: solid 2px #c3c3c3;
}

.search-main {
  height: calc(100vh - 117px);
  overflow-y: scroll;
}

.search-form-area {
  height: 45px;
  padding-top: 10px;
}

.search {
  display: flex;
  align-items: center;
  padding: 0 50px 0 70px;

}

.search-form {
  width: 80%;
  padding: 2px 20px;
  border: solid 2px #c3c3c3;
  border-radius: 16px;
  resize: none;
  outline: none;
}

.search-btn {
  width: 20px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.search-path-areas {
  display: flex;
  height: 60px;
  margin-top: 10px;
}

.search-path {
  width: 25%;
}

.search-path-area {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #7c7b7b;
}

.search-path-area:hover {
  background-color: rgb(253, 246, 236);
  color: #f39c12;
}

.user-job{
  font-size: 15px;
  opacity: 0.75;
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: #f39c12;
}

.user-job a:link,.user-job a:visited {
  color: #f39c12;
}

.user-job a:hover,.user-job a:active {
  color: #f39c12;
  border-bottom: 1px solid #f39c12;
}

.current-search {
  color: #f39c12;
  border-bottom: solid 2px #f39c12;
}