.group-page {
  background-color: #fef8f3ce;
  width: 610px;
}

.group-page-header {
  height: 50px;
  border-bottom: solid 1px #f1efef;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.group-list-page {
  font-size: 25px;
  font-weight: bold;
}

.group-new {
  background-color: rgb(219, 205, 187);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 50px;
}

.group-index{
  overflow-y: scroll;
  height: calc(100vh - 50px);
}

.group-information {
  display: flex;
  border-bottom: solid 1px #f1efef;
  padding: 0 10px 10px 10px;
}

.group-information:hover {
  background-color: #f4eee8ce;
}

.group-name-message {
  margin: 10px 0 0 15px;
}

.group-names {
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.group-message {
  color: rgb(93, 93, 93);
}

.group-participate-area {
  margin: 10px 0 0 auto;
  display: flex;
  align-items: center;
}

.group-participate {
  display: inline-block;
  height: 40px;
  padding: 5px 10px;
  background-color: rgb(219, 205, 187);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.group-participated {
  display: inline-block;
  font-size: 20px;
  padding-right: 10px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 255, 149);
}

.loading{
  text-align: center;
  padding: 20px 0;
  color: #f39c12;
}