<div class="wrapper">
  <div class='side-bar'>
    <%= render "shared/side_bar" %>
  </div>
  <div class='main'>
    <%= render "search_header" %>
    <div class='search-main'>
      <% @job_users.each do |user| %>
        <%= user.name %>
      <% end %>
    </div>
  </div>
  <div class='left-bar'>
  <div>
</div>