.chats {
  background-color: #fef8f3ce;
  width: 610px;
}

.chats-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #c3c3c3;
}

.chats-main {
  height: calc(100vh - 100px - 50px);
  overflow-y: scroll;
  padding: 0 20px;
}

.chat-group {
  height: 60px;
  width: 400px;
  border-radius: 16px;
  margin: 20px auto;
  background-color: rgba(147, 146, 146, 0.937);
  color: white;
  position: relative;
  opacity:0.6;
}

.chat-group-introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}

.chat {
  display: flex;
  padding-bottom: 5px;
}

.chat-icon-area {
  height: 100%;
  width: 40px;
  margin-right: 10px;
}

.chat-message {
  padding: 8px 14px;
  background-color: rgb(255, 200, 0);
  text-align: left;
  font-size: 15px;
}

.message-content {
  display: block;
  text-align: center;
}

.message-content p {
  margin-bottom: 0;
}

.chat-right  {
  margin: 0 0 0 auto;
}

.chat-left {
}

.chat-form {
  height: 50px;
  display: flex;
  border-top: solid 1px #c3c3c3;
  padding: 5 20px;
}

.message-input-area {
  -webkit-user-select : auto;
  width: 400px;
}