.chats {
  background-color: #fef8f3ce;
  width: 610px;
}

.chats-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #c3c3c3;
}

.chats-main {
  height: calc(100vh - 100px - 50px);
  overflow-y: scroll;
  padding: 0 20px;
}

.chat {
  display: flex;
  padding-bottom: 5px;
}

.chat-icon-area {
  height: 100%;
  width: 40px;
  margin-right: 10px;
}

.chat-message {
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  background-color: rgb(255, 200, 0);
}

.chat-message-content{
  vertical-align: middle;
}

.chat-right  {
  display: inline-block;
  margin: 0 0 0 auto;
}

.chat-left {
  display: inline-block;
}

.chat-form {
  height: 50px;
  display: flex;
  border-top: solid 1px #c3c3c3;
}

.message-form {
  -webkit-user-select : auto;
}