  <div class="post">
    <div class="upper-post">
      <%= link_to image_tag("app-icon2.png", class:"post-icon"), "/" %>
      <div class="post-user">
        Tom
      </div>
      <div class="date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="under-post">
      <div class="post-content">
        おはよう
      </div>
    </div>
  </div>

  <div class="post">
    <div class="upper-post">
      <%= link_to image_tag("app-icon2.png", class:"post-icon"), "/" %>
      <div class="post-user">
        Tom
      </div>
      <div class="date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="unde-post">
      <div class="post-content">
        こんばんは
      </div>
    </div>
  </div>