// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow-path {
  width: 50%;
}

.follow-header-title {
  display: flex;
  padding: 10px 20px;
}

.follow-path-areas {
  display: flex;
  height: 60px;
}