.invite-header {
  height: 70px;
  padding: 0 40px;
  border-bottom: solid 1px #c3c3c3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invite-area {
  height: 100% - 70px;
  overflow-y: scroll;
}