.my-page {
  background-color: #fef8f3ce;
  width: calc(100vw - 300px - 300px);
}

.my-page-header {
  height: 50px;
  border-bottom: solid 1px #c3c3c3;
}

.my-posts-list {
  height: calc(100vh - 100px);
  overflow-y: scroll;
}