.wrapper {
  display: flex;
}
.side-bar {
  background-color: rgb(219, 205, 187);
  width: 350px;
  height: 100vh;
  border-right: solid 1px #ececec;
}
.main {
  background-color: #fef8f3ce;
  width: 610px;
}

.left-bar {
  height: 100vh;
  width: calc(100vw - 610px - 350px );
  background-color: rgb(219, 205, 187);
}
.post-header {
  height: 150px;
  border-bottom: solid 1px #c3c3c3;
}

.post-main {
  height: calc(100vh - 150px);
  overflow-y: scroll;
}

.page-title {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 550;
}

.form {
  border-top: solid 1px #c3c3c3;
  background-color:  #fef8f3ce;
  height: 100px;
  display: flex;
  padding: 8px;
}

.form-input {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-textarea{
  border: solid 2px #c3c3c3;
  padding: 15px;
  width: 100%;
  word-break: break-all;
  height: 100%;
  border-radius: 16px;
  font-size: 15px;
  resize: none;
  outline: none;
}

.form-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.form-send{
  background-color: rgb(219, 205, 187);
  border: solid 2px rgba(219, 205, 187, 0.855);
  padding: 0 20px;
  height: 40px;
  width: 120px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 16px;
  
}

.form-image {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-icon{
  font-size: 30px;
}

.hidden{
  display: none;
}