.wrapper {
  display: flex;
}
.side-bar {
  background-color: rgb(219, 205, 187);
  width: 350px;
  height: 100vh;
  border-right: solid 1px #ececec;
}
.main {
  background-color: #fef8f3ce;
  width: 610px;
}

.left-bar {
  height: 100vh;
  width: calc(100vw - 610px - 350px );
}
.post-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #c3c3c3;
}

.post-main {
  height: calc(100vh - 100px - 100px);
  overflow-y: scroll;
}

.form {
  background-color: #f1dbdb;
  height: 100px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-text{
  height: auto;
  width: auto;
  padding-left: 10px;
  width: 100%;
  border: none;
  word-break: break-all;
}

.form-send{
  background-color: #38aef0;
  padding: 0 20px;
  margin-left: 15px;
  height: 50px;
  font-size: 16px;
  color: white;
  border: none;
}

.form-image {
  width: 60px;
  margin: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-icon{
  width: 30px;
  height: auto;
}

.hidden{
  display: none;
}