.post {
  padding: 0 15px;
  border-top: solid 1px #c3c3c3;
  display: flex;
}

.post-area {

}

.upper-post {
  display: flex;
  align-items: center;
}

.post-user {
  color: #434a54;
  font-size: 25px;
  font-family: 'Vollkorn', serif;
}

.post-user a:visited, a:link, a:active, a:hover {
  color: black;
}

.post-job {
  color: #434a54;
  font-size: 15px;
  opacity: 0.75;
  margin: 10px 5px 10px 10px;
}

.post-job a:visited, a:link, a:active, a:hover {
  color: #f39c12;
}

.nakaten {
  color: #999;
  font-size: 12px;
}

.date {
  color: #999;
  font-size: 12px;
  margin-left: 5px;
}

.middle-post {
  
}

.post-content-area {
  padding-bottom: 5px;
}

.post-content {
  color: #434a54;
  font-size: 18px;
  font-family: 'Noto Sans JP', sans-serif;
  word-break: break-all;
  white-space: pre-wrap;
}

.post-content  a:visited, a:link, a:active, a:hover {
  color: rgba(0, 204, 255, 0.992);
}

.post-icon-area {
  height: 100%;
  width: 40px;
  margin-right: 10px;
}

.post-icon {
  width: 40px;
  margin-top: 5px;
  object-fit: cover;
	border-radius:50%;
}

.image {
}

.post-image {
  width: 90%;
  height: auto;
  border-radius: 10%;
}
.under-post {
  height: 30px;
}