.post {
  padding: 0 15px;
  border-top: solid 1px #c3c3c3;
  display: flex;
}

.post-area {

}

.upper-post {
  display: flex;
  align-items: center;
}

.post-user {
  color: #434a54;
  font-size: 23px;
  font-family: 'Vollkorn', serif;
}

.post-job {
  font-size: 15px;
  opacity: 0.75;
  margin-left: 10px;
}

.post-job a:link,.post-job a:visited,.post-job a:hover,.post-job a:active {
  color: #f39c12;
}

.nakaten {
  color: #999;
  font-size: 12px;
  margin: 0 5px;
}

.date {
  color: #999;
  font-size: 12px;
}

.middle-post {
  
}

.under-post {
  height: 30px;
  margin-top: 15px;
}

.post-content-area {
  margin-bottom: 10px;
}

.post-content {
  color: #434a54;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  word-break: break-all;
  white-space: pre-wrap;
}

.post-content a:link, .post-content a:visited, .post-content a:hover,.post-content a:active {
  color: rgba(8, 152, 255, 0.896);
}

.post-icon-area {
  height: 100%;
  width: 50px;
  margin-right: 10px;
}

.post-icon {
  object-fit: cover;
  height: 50px;
  width: 50px;
  margin-top: 10px;
	border-radius:50%;
  border: solid 1px #d6d3d3;
}

.image {
}

.post-image {
  width: 90%;
  height: auto;
  border-radius: 10%;
}